/* background colors */

.white {
    background-color: white;
}

.dark-blue {
    background-color: #022739;
}

.blue {
    background-color: #056387;
}

.grey {
    background-color: #B4C0C0;
}

.orange {
    background-color: #FF7000;
}

.gold {
    color: #80581A;
}

/* colors */

.text-white {
    color: #fff;
}

.text-dark-blue {
    color: #022739;
}

.text-blue {
    color: #056387;
}

.text-grey {
    color: #B4C0C0;
}

.text-orange {
    color: #FF7000;
}

.text-gold {
    color: #80581A;
}

.heading {
    text-align: center;
    /* font-family: ; */
}

.navbar {
    background-color: #022739;
}

header {
    background-color: #022739;
    color: white;
    /* margin: 0;
    padding: 3px; */
    text-align: center;
}

footer {
    background-color: #022739;
    color: white;    
    padding-left: 0 !important;
    padding-right: 0 !important;
}

section {
    padding: 10px;
}
