.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

/* background colors */

.white {
    background-color: white;
}

.dark-blue {
    background-color: #022739;
}

.blue {
    background-color: #056387;
}

.grey {
    background-color: #B4C0C0;
}

.orange {
    background-color: #FF7000;
}

.gold {
    color: #80581A;
}

/* colors */

.text-white {
    color: #fff;
}

.text-dark-blue {
    color: #022739;
}

.text-blue {
    color: #056387;
}

.text-grey {
    color: #B4C0C0;
}

.text-orange {
    color: #FF7000;
}

.text-gold {
    color: #80581A;
}

.heading {
    text-align: center;
    /* font-family: ; */
}

.navbar {
    background-color: #022739;
}

.head-section {
    margin-block: 50pt; 
    margin-bottom: 5pt;
}

.desc-section {
    margin-bottom: 50pt;
}

header {
    background-color: #022739;
    color: white;
    /* margin: 0;
    padding: 3px; */
    text-align: center;
}

footer {
    background-color: #022739;
    color: white;    
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.content-footer {
    padding-bottom: 10pt;
}

section {
    padding: 10px;
}

body {
    padding: 0px !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

h3 {
    padding-inline: 20pt;
}

.list-unstyled {
    list-style: none;
    margin-left: 0;
	padding-left: 0;
}

span {
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 40px 40px;
}

/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}

.carousel-control.right {
	right: -12px;
}

/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}

.carousel-indicators .active {
background: #333333;
}

@media only screen and (max-width: 768px) {
    #fullCarousel {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    #miniCarousel {
        display: none;
    }
}

.team-link a {
    text-decoration: none !important;
    color: #323232;
}

.team-link a:hover {
    text-decoration: none;
    color: #ff7000;
}

.footer-link a {
    text-decoration: none !important;
    color: #ffff;
    padding-top: 1pt;
}

.footer-link a:hover {
    text-decoration: none;
    color: #ff7000;
}