/* General setting */

.heading {
    text-align: center;
}

.navbar {
    background-color: #022739;
}

@media only screen and (max-width: 768px) {
    .head-section {
        margin-block: 50pt; 
        margin-bottom: 5pt;
    }
    
    .desc-section {
        margin-bottom: 50pt;
    }

    .margin-video {
        margin-top: 10pt;
    }
  
    .light-blue {
        /* background-color: #0562872b; */
        background-image: linear-gradient(to right, #0562873a , #0562876c);
    }
}

@media only screen and (min-width: 769px; min-height: 600px) {
    .hero-about {
        margin-top: 100pt;
    }
}

@media only screen and (min-width: 769px) {
    .head-section {
        margin-block: 75pt; 
        margin-bottom: 15pt;
    }
    
    .desc-section {
        margin-bottom: 100pt;
    }

    .add-margin-top {
        margin-top: 70pt;
    }

    .margin-video {
        margin-top: 40pt;
    }
    
    .light-blue {
        /* background-color: #0562872b; */
        background-image: linear-gradient(to right, #0562874f , #ff6f00b5);
    }
}

hr.top-header-big {
    border-top: 3px solid #fff;
    width: 80px;
}

hr.top-header {
    border-top: 3px solid #FF7000;
    width: 50px;
    margin: auto;
}

footer.about {
    background-color: #022739;
    color: white;    
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.content-footer {
    padding-bottom: 10pt;
}

body.about {
    padding: 0px !important;
}

h3.about {
    padding-inline: 20pt;
    font-family: 'Ubuntu', sans-serif;
}

h1.about {
    font-family: 'Ubuntu', sans-serif;
}

h4.about {
    font-family: 'Ubuntu', sans-serif;
    color: #606060;
}

p.about {
    font-family: 'Poppins', sans-serif ;
    line-height: 20pt;
}

.list-unstyled {
    list-style: none;
    margin-left: 0;
	padding-left: 0;
}

span.about {
    padding-top: 1px;
    padding-bottom: 1px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

@media only screen and (max-width: 768px) {   
    .param-text {
        padding-top: 40px; 
        padding-bottom: 45px;
        font-size:70px; 
        font-family: 'Ubuntu', sans-serif;
    }

}

@media only screen and (min-width: 769px) {
    .param-text {
        padding-top: 30px; 
        padding-bottom: 35px;
        font-size:70px; 
        font-family: 'Ubuntu', sans-serif;
    }
}

/* background colors */

.white {
    background-color: white;
}

.dark-blue {
    background-color: #022739;
}

.blue {
    background-color: #056387;
}

.grey {
    background-color: #B4C0C0;
}

.orange {
    background-color: #FF7000;
}

.gold {
    color: #80581A;
}

/* colors for text */

.text-white {
    color: #fff;
}

.text-dark-blue {
    color: #022739;
}

.text-deep-blue {
    color: #06415f;
}

.text-blue {
    color: #056387;
}

.text-grey {
    color: #B4C0C0;
}

.text-orange {
    color: #FF7000;
}

.text-gold {
    color: #80581A;
}

/* Carousel classes */

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 40px 40px;
}

/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}

.carousel-control.right {
	right: -12px;
}

/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}

.carousel-indicators .active {
background: #333333;
}

@media only screen and (max-width: 768px) {
    #fullCarousel {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    #miniCarousel {
        display: none;
    }
}

/* Links set up */

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

.team-link a {
    text-decoration: none !important;
    color: #323232;
}

.team-link a:hover {
    text-decoration: none;
    color: #ff7000;
}

.footer-link a {
    text-decoration: none !important;
    color: #ffff;
    padding-top: 1pt;
}

.footer-link a:hover {
    text-decoration: none;
    color: #ff7000;
}

.container-iframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }